.title {
	text-align: center;
	color: blue;
}

body {
	background-color: #d3d3d3;
}

.main_div {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
}

.dashboard_item_text {
	text-align: center;
	font-size: 1.5em;
}

.dashboard_div {
	width: 30%;
	height: 15em;
	float: left;
	display: inline;
	margin-right: 3%;
	background-color: white;
	border-radius: 10%;
}

.dashboard_item_logo {
	width: 40%;
	padding-top: 2em;
	margin-left: auto;
	margin-right: auto;
	display: block;
	height: 8em;
}